{% extends 'base.html.twig' %}

{% block title %}Soustraites Moi !{% endblock %}

{% block body %}
<aside id="finder">
  <div id="carousel">
    <div class="hideLeft">
      <img src="assets/img/carousel1.webp">
    </div>
    <div class="hideLeft">
      <img src="assets/img/carousel2.webp">
    </div>
    <div class="hideLeft">
      <img src="assets/img/carousel3.webp">
    </div>
    <div class="hideLeft">
      <img src="assets/img/carousel4.webp">
    </div>
    <div class="hideLeft">
      <img src="assets/img/POCHON VERT COMBI.png">
    </div>
    <div class="hideLeft">
      <img src="assets/img/carousel5.webp">
    </div>
    <div class="prevLeftSecond">
      <img src="assets/img/carousel6.webp">
    </div>
    <div class="prev">
      <img src="assets/img/carousel7.webp">
    </div>
    <div class="selected">
      <img src="assets/img/carousel8.jpg">
    </div>
    <div class="next">
      <img src="assets/img/carousel9.webp">
    </div>
    <div class="nextRightSecond">
      <img src="assets/img/carousel10.webp">
    </div>
    <div class="hideRight">
      <img src="assets/img/carousel11.webp">
    </div>
    <div class="hideRight">
      <img src="assets/img/carousel12.webp">
    </div>
    <div class="hideRight">
      <img src="assets/img/carousel13.webp">
    </div>
    <div class="hideRight">
      <img src="assets/img/carousel14.webp">
    </div>
    <div class="hideRight">
      <img src="assets/img/carousel15.webp">
    </div>
    <div class="hideRight">
      <img src="assets/img/carousel16.webp">
    </div>
  </div>
</aside>
  <!-- <div class="buttons">
      <button id="prev">Prev</button>
      <button id="next">Next</button>
  </div> -->
<aside id="carousel_btn">
  <button><a href="{{ path('app_client') }}">Déposer un projet</a></button>
  <button><a href="{{ path('app_expert') }}">Devenir expert référencé</a></button>
</aside>
<main>
  <div class="flex_projet">
    <section class="section_projet home_container">
      <div class="background"></div>
      <article class="article_projet">
        <h2>Déposez-nous <br>
        votre projet</h2>
        <p>
          Obtenez un ou plusieurs devis, <br>
          choisissez celui qui vous convient, sous-traitez auprès de nos experts !
        </p>
        <a type="button" class="button">Commencer</a>
        <div class="projet_info">
          <div class="row_info">
            <div>
              <img src="{{asset('assets/img/icone1.svg')}}" alt="">    
            </div>
            <p>Rapide & Sécurisé</p>
          </div>
          <div class="row_info">
            <div>
              <img src="{{asset('assets/img/icone2.svg')}}" alt="">    
            </div>
            <p>Flexibilité & Évolutivité</p>
          </div>
          <div class="row_info">
            <div>
              <img src="{{asset('assets/img/icone3.svg')}}" alt="">    
            </div>
            <p>Meilleur Collaboration</p>
          </div>
        </div>
      </article>
    </section>
    <div class="projet_background_img">
      <img src="{{asset('assets/img/Art1.svg')}}" alt="">
    </div>
  </div>
  <section class="section_info home_container">
    <h2>
      Le bon expert <br>
      au bon moment <br>
      au meilleur prix
    </h2>
    <p>
      Notre communauté d'experts est là pour répondre à tous vos besoins, 
      nous réalisons un ou plusieurs devis en fonction de nos experts disponibles 
      et nous vous proposons une offre sur mesure.
    </p>
  </section>
  <section id="nosServices" class="section_info2 home_container">
    <h2>Ce que nous faisons ?</h2>
    <p>
      Deux domaines principaux : <br>
      - La création graphique (logo, cartes de visite, charte graphique, 
      site web et application,...) <br>
      - La sous-traitance (secrétariat, gestion, aide à la création d'entreprise, 
      dépôt de marque, traduction, rédaction, référencement, comptabilité...)
    </p>
    <div class="flex_info2">
      <article class="article_info2">
        <div class="center_img">
          <img src="{{asset('assets/img/Artboard1.webp')}}" alt="Dessin d'une femme pointant du doigt">
        </div>
        <h3>Gagnez du temps dans votre activité</h3>
        <p>
          Personne n'est bon partout et chacun son métier. En passant par nos experts, 
          c'est un gain de temps ponctuel ou quotidien en fonction des missions que vous
          nous confiez.
        </p>
      </article>
      <article class="article_info2">
        <div class="center_img">
          <img src="{{asset('assets/img/Artboard2.webp')}}" alt="Dessin de plusieurs graphique">
        </div>
        <h3>
          Des solutions <br> 
          tout-en-un
        </h3>
        <p>
          Vous souhaitez lancer votre activité sereinement,
          nous pouvons vous proposer des packages complets, clé en main.
        </p>
      </article>
      <article class="article_info2">
        <div class="center_img">
          <img src="{{asset('assets/img/Artboard3.webp')}}" alt="Dessin d'un homme finissant premier d'une course">
        </div>
        <h3>
          Un service client <br>
          complet
        </h3>
        <p>
          Après avoir déposé votre projet sur notre site, vous êtes re-contactés par notre service 
          client afin de vous soutenir dans votre démarche entrepreneurial
          et permettre à nos experts de comprendre au mieux vos besoins.
        </p>
      </article>
      <article class="article_info2">
        <div class="center_img">
          <img src="{{asset('assets/img/Artboard4.webp')}}" alt="Dessin d'un homme pilotant un robot">
        </div>
        <h3>
          Pilotez votre entreprise comme un chef
        </h3>
        <p>
          Une fois vos besoins sous-traités auprès de nos experts, il ne vous reste plus
          qu'à piloter votre activité tel un chef d'orchestre, avec l'esprit léger.
        </p>
      </article>
    </div>
  </section>
  <section class="section_info3">
    <div class="center_img">
      <img src="{{asset('assets/img/Artboard5.png')}}" alt="">
    </div>
    <article class="home_container">
      <h2>Construits par des créatifs grâce à vos idées.</h2>
      <h3>Et vos idées prennent vie !</h3>
      <div class="projet_info">
        <div class="row_info">
          <div>
            <img src="{{asset('assets/img/icone4.svg')}}" alt="">    
          </div>          
          <p>Clé en main</p>
        </div>
        <div class="row_info">
          <div>
            <img src="{{asset('assets/img/icone5.svg')}}" alt="">    
          </div>         
          <p>Des fichiers complets</p>
        </div>
        <div class="row_info">
          <div>
            <img src="{{asset('assets/img/icone6.svg')}}" alt="">    
          </div>        
          <p>Un design libre</p>
        </div>
      </div>
    </article>
  </section>
  <section class="section_partenaire home_container">
    <h2>Ils nous font confiance</h2>
    <div class="grid">
      <img class="logo_partenaire" src="{{asset('assets/img/carousel15.webp')}}" alt="Logo">
      <img class="logo_partenaire" src="{{asset('assets/img/carousel8.jpg')}}" alt="Logo">
      <img class="logo_partenaire" src="{{asset('assets/img/carousel3.webp')}}" alt="Logo">
      <img class="logo_partenaire" src="{{asset('assets/img/carousel12.webp')}}" alt="Logo">
      <img class="logo_partenaire" src="{{asset('assets/img/carousel14.webp')}}" alt="Logo">
      <img class="logo_partenaire" src="{{asset('assets/img/carousel10.webp')}}" alt="Logo">
      <img class="logo_partenaire" src="{{asset('assets/img/carousel11.webp')}}" alt="Logo">
      <div class="bg-white">
        <img src="{{asset('assets/img/pochon vert.webp')}}" alt="Logo">
      </div>
    </div>
  </section>
  <section class="home_container">
    <h2>Ce que nos client disent</h2>
    <div class="flex_quote">
      <article class="quote_card">
        <div class="bar">
          <i class="fa-solid fa-circle"></i>
          <i class="fa-solid fa-circle"></i>
          <i class="fa-solid fa-circle"></i>
        </div>
        <div class="quote">
          <p>
            "Nous avons fait appel à un Expert Webdesigner sur soustraitesmoi.fr, le travail était 
            parfait, nous avons dû faire appel à un rédacteur pour plusieurs pages de notre 
            site également et nous sommes très contents du résultat de ces deux prestations."
          </p>
        </div>
        <div class="quote_name">
          <p>Sophie MARIE</p>
          <p>Directrice Générale</p>
        </div>
        <div class="quote_art">
          <img src="{{asset('assets/img/result1.svg')}}" alt="">
        </div>
      </article>
      <article class="quote_card">
        <div class="bar">
          <i class="fa-solid fa-circle"></i>
          <i class="fa-solid fa-circle"></i>
          <i class="fa-solid fa-circle"></i>
        </div>
        <div class="quote">
          <p>
            "J'ai contacté les experts de Soustraitesmoi car je voulais lancer une nouvelle marque, 
            j'ai été très bien conseillé. J'ai pu finaliser quelques détails de mon logo, je pense 
            passer par le site pour faire ma charte graphique afin de pouvoir mieux me développer."
          </p>
        </div>
        <div class="quote_name">
          <p>Alan COHEN</p>
          <p>Fondateur</p>
        </div>
        <div class="quote_art">
          <img src="{{asset('assets/img/result2.svg')}}" alt="">
        </div>
      </article>
      <article class="quote_card">
        <div class="bar">
          <i class="fa-solid fa-circle"></i>
          <i class="fa-solid fa-circle"></i>
          <i class="fa-solid fa-circle"></i>
        </div>
        <div class="quote">
          <p>
            "J'ai souscris le pack pour les porteurs de projets/créateurs d'entreprise, 
            j'ai eu un super logo et mes premières cartes de visites. Les heures de coaching 
            sont vraiment très utiles, ça permet de poser toutes les questions que l'on peut 
            avoir quand on se lance. Les experts sont tops !"
          </p>
        </div>
        <div class="quote_name">
          <p>Jules JACQUEY</p>
          <p>Porteur de projet</p>
        </div>
        <div class="quote_art">
          <img src="{{asset('assets/img/result3.svg')}}" alt="">
        </div>
      </article>
    </div>
  </section>
  <section class="section_projet2 home_container">
    <h2>Soyez Prêts à Augmenter Votre Productivité avec Les Solutions de Nos Experts</h2>
    <a type="button" class="button">Commencer</a>
    <img src="{{asset('assets/img/Art2.svg')}}" alt="">
  </section>
</main>
{% endblock %}
