{% extends 'base.html.twig' %}

{% block title %}Inscription Client
{% endblock %}


{% block body %}
	<main class="row justify-content-md-center">
		<section class="form_container col col-md-8 col-xl-6">
            {{ form_start(registrationForm) }}
            <article >
                <h1>Renseignez vos informations</h1>
                
                <h3 class="pb-3">Adresse :</h3>
                {{ form_row(registrationForm.address) }}
                {{ form_row(registrationForm.isCompany) }}
                {# <div id="registration_form_isCompany">
                    <div class="form-check">
                        <input type="radio" id="registration_form_isCompany_0" name="registration_form[isCompany]" required="required" class="form-check-input" value="false" checked="checked">
                        <label class="form-check-label required" for="registration_form_isCompany_0">Vous êtes particulier</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" id="registration_form_isCompany_1" name="registration_form[isCompany]" required="required" class="form-check-input" value="true">
                        <label class="form-check-label required" for="registration_form_isCompany_1">Vous êtes professionnel</label>
                    </div>
                </div> #}
            </article>
            <article id="company_info" style="display:none;">
                {{ form_row(registrationForm.companyName) }}
                {{ form_row(registrationForm.companyCommercialName) }}
                {{ form_row(registrationForm.jobInCompany) }}
                {{ form_row(registrationForm.siret) }}
            </article>
            <button type="submit" class="btn">S'inscrire</button>
            {{ form_end(registrationForm) }}
		</section>
	</main>
{% endblock %}
