{% extends 'base.html.twig' %}

{% block title %}Inscription Client
{% endblock %}


{% block body %}
	<main class="row justify-content-md-center">
		<section class="form_container col col-md-8 col-xl-6">
            {{ form_start(registrationForm) }}
            <article class="p-0 pt-2">
                <h1>Renseignez vos informations</h1>
                {{ form_row(registrationForm.phone) }}
                <h3 class="pb-3">Adresse</h3>
                {{ form_row(registrationForm.address) }}
            </article>
            <article id="company_info">
                <h3 class="mb-4">Informations Société</h3>
                {{ form_row(registrationForm.companyName) }}
                {{ form_row(registrationForm.companyCommercialName) }}
                {{ form_row(registrationForm.jobInCompany) }}
                {{ form_row(registrationForm.siret) }}
            </article>
            <article>
                <h3 class="pb-3">Déposez votre rib</h3>
                {{ form_row(registrationForm.rib) }}
            </article>
            <button type="submit" class="btn">S'inscrire</button>
            {{ form_end(registrationForm) }}
		</section>
	</main>
{% endblock %}
