{% extends 'base.html.twig' %}

{% block title %}Inscription expert
{% endblock %}

{% block body %}
	<main class="row justify-content-md-center">
		<section class="form_container col col-md-8 col-xl-6">
            {{ form_start(registrationExpertForm) }}
            <article >
                <h1>Renseignez vos informations</h1>

                <a href="{{ path("connect_google" , ) }}">
                    <div class="google-btn">
                        <div class="google-icon-wrapper">
                            <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
                        </div>
                        <p class="btn-text"><b>Inscription avec Google</b></p>
                    </div>
                </a>

                <div class="barre_ou">
                    <div class="barre"></div>
                    <span>ou</span> 
                    <div class="barre"></div>
                </div>

                <div class="row">
                    <div class="col">
                        {{ form_row(registrationExpertForm.firstname) }}
                    </div>
                    <div class="col">
                        {{ form_row(registrationExpertForm.lastname) }}
                    </div>
                </div>
                {{ form_row(registrationExpertForm.email) }}
                {{ form_row(registrationExpertForm.password, {
                        label: 'Mot de passe',
                    }) }}
            </article>
            <article>
                <h3 class="pb-3">Adresse :</h3>
                {{ form_row(registrationExpertForm.address) }}
                {{ form_row(registrationExpertForm.phone) }}
            </article>
            <button type="submit" class="btn">S'inscrire</button>
		</section>
        {{ form_end(registrationExpertForm) }}
	</main>
{% endblock %}
