{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}


{% block body %}
    <main id="modalInscription">
        <img src="{{asset('assets/img/Soustraitesmoi_fr.webp')}}" alt="Logo SoustraitesMoi">
        <article class="register_info">
            <h2>Quelle est votre situation ?</h2>
            <div class="d-flex flex-column gap-3">
                <a href="{{path('app_register_client')}}">
                    <img src="{{asset('assets/img/client.jpg')}}" alt="">
                    <div class="d-flex align-center justify-content-between gap-3 w-75">
                        <h3>Client</h3>
                        <i class="fa-solid fa-chevron-right"></i>                    
                    </div>
                </a>
                <a href="{{path('app_register_expert')}}">
                    <img src="{{asset('assets/img/expert.jpg')}}" alt="">
                    <div class="d-flex align-center justify-content-between gap-3 w-75">
                        <h3>Expert</h3>
                        <i class="fa-solid fa-chevron-right"></i>                   
                    </div>
                </a>
            </div>
        </article>
    </main>
{% endblock %}