
<footer class="bg-black">
    <div class="bande2"></div>
    <div class="div_footer">
        <div class="misc_row">

            <div class="col-6 col-md-2 mb-3 text-white column">
                <h5>Navigation</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#finder" class="nav-link p-0 text-muted">Accueil</a></li>
                    <li class="nav-item mb-2"><a href="{{path('app_contact')}}" class="nav-link p-0 text-muted">Contact</a></li>
                    {# <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Contact</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Clients</a></li> #}
                </ul>
            </div>

            <div class="col-6 col-md-2 mb-3 text-white column">
                <h5>Support</h5>
                <ul class="nav flex-column">
                    {# <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">CGV / CGU</a></li> #}
                    <li class="nav-item mb-2"><a href="{{path('confidentialite')}}" class="nav-link p-0 text-muted">Politique de confidentialité</a></li>
                    {# <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Politique de cookies</a></li> #}
                    <li class="nav-item mb-2"><a href="{{path('app_mention_legales')}}" class="nav-link p-0 text-muted">Mentions légales</a></li>
                </ul>
            </div>

            <div class="column"></div>
            <div class="text-white column contact">
                <p>Adresse : <br> 120 Route de Paris <br> 76240 Le Mesnil-Esnard </p>
                <p>Tél : 07 85 25 35 81</p>
                <p id="email">Email : <a href="{{path('app_contact')}}">soustraitesmoi@gmail.com</a></p>
            </div>
        </div>

        <hr>

        <div class="text-white misc_row bottom">
                <div class="paymentsWrapper">
                    <div class="displayFlex lg:justifyContentFlexStart md:justifyContentCenter payment">
                        <i class="fa-brands fa-cc-visa"></i>
                        <i class="fa-brands fa-cc-stripe"></i>
                    </div>
                    <p>Paiements sécurisés par Stripe.</p>
                </div>
                <div class="minilogo">
                    <img src="{{asset('assets/img/strmfooter.webp')}}" alt="logo du site">
                </div>
                {# <p>© 2022 Company, Inc. All rights reserved.</p> #}
                <div class="social_div">
                    <div class="displayFlex lg:justifyContentFlexEnd md:justifyContentCenter">
                            <ul class="list-unstyled social">
                                <a rel="noopener noreferrer" href="#" target="_blank"><li><i class="fa-brands fa-twitter"></i></li></a>
                                <a rel="noopener noreferrer" href="#" target="_blank"><li><i class="fa-brands fa-facebook-f"></i></li></a>
                                <a rel="noopener noreferrer" href="#" target="_blank" ><li><i class="fa-brands fa-linkedin-in"></i></li></a>
                            </ul>
                </div>
                <div class="copyright textAlignRight-md">© 2022 - SOUSTRAITESMOI - <a class="mainFooter-link " href="/cgu">Conditions générales</a></div>
            </div>
        </div>
    </div>
  </footer>