<header class="sticky">
    <div class="bande"></div>
    <aside>
        <div class="top">
            <p class="mb-0">SousTraitesMoi</p>
            <i id="closeSide" class="fa-solid fa-xmark"></i>
        </div>
        {% if app.user %}
            <div class="profil_side">
                <div class="profil_pic">
                    {% if app.user.googleId %}
                        <img src="{{app.user.avatar}}"  alt="Photo de profil">
                    {% elseif app.user.avatar %}
                        <img src="{{asset("assets/uploads/avatar/" ~  app.user.avatar)}}" alt="Photo de profil">
                    {% else %}
                        <img src="{{asset("assets/uploads/avatar/default.png")}}" alt="Photo de profil par défaut">
                    {% endif %}
                </div>
                <div class="info">
                    <p class="mb-1">
                        {{app.user.lastName}} <br>
                        {{app.user.firstName}}
                    </p>
                    <p class="mb-0">
                        {% if is_granted('ROLE_EXPERT')  %}
                        Expert
                        {% elseif is_granted('ROLE_CLIENT')  %}
                        Client
                        {% elseif is_granted('ROLE_ADMIN') %}
                        Administrateur
                        {% endif %}
                    </p>            
                </div>
                <a href="{{path('app_logout')}}">
                    <i class="fa-solid fa-right-from-bracket"></i>
                </a>
            </div>
        {% else %}
            <div class="login_side">
                <a href="{{path('app_register')}}" class="button">Inscription</a>
                <div class="text-center">
                    <p class="mb-0 text-white">Déja Membre ?</p>
                    <a href="{{path('app_login')}}">Connectez-vous !</a>
                </div>
            </div>
        {% endif %}
        <ul class="d-flex flex-column mb-2">
            {% if is_granted('ROLE_EXPERT')  %}
            <li>
                <a href="{{path('app_projects')}}" class="nav-link">
                    <i class="fa-solid fa-sheet-plastic"></i>
                    Consulter des projets
                </a>
            </li>
            <li>
                <a href="{{path('app_devis_user')}}" class="nav-link">
                    <i class="fa-solid fa-file-invoice-dollar"></i>
                    Mes devis
                </a>
            </li>
            {% elseif is_granted('ROLE_CLIENT')  %}
            <li>
                <a href="{{path('app_project_index')}}" class="nav-link">
                    <i class="fa-solid fa-file-signature"></i>
                    Mes projets
                </a>
            </li>
            {% elseif is_granted('ROLE_ADMIN') %}
            <li>
                <a href="{{path('admin')}}" class="nav-link">
                    <i class="fa-solid fa-user-tie"></i>
                    Administration
                </a>
            </li>
            {% endif %}
            {% if is_granted('ROLE_EXPERT')  %}
            <li>
                <a href="{{path('app_expert')}}" class="nav-link">
                    <i class="fa-regular fa-user"></i>
                    Mon profil
                </a>
            </li>
            {% elseif is_granted('ROLE_CLIENT')  %}
            <li>
                <a href="{{path('app_client')}}" class="nav-link">
                    <i class="fa-regular fa-user"></i>
                    Mon profil
                </a>
            </li>
            {% endif %}
            <li>
                <a href="{{path('app_home')}}#nosServices" class="nav-link">
                    <i class="fa-regular fa-handshake"></i>
                    Nos Services
                </a>
            </li>
            <li>
                <a href="{{path('app_offres')}}" class="nav-link">
                    <i class="fa-solid fa-tags"></i>
                    Je me lance ?
                </a>
            </li>
        </ul>
    </aside>
    <div class="div_header">
        <div class="flex_header">
            <i class="fa-solid fa-bars"></i>
            <a href="{{path('app_home')}}" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                <img src="{{asset('assets/img/Soustraitesmoi_fr.webp')}}" alt="Logo SoustraitesMoi">
            </a>

            <ul class="nav mb-2 mb-md-0">
                {% if is_granted('ROLE_EXPERT')  %}
                <li><a href="{{path('app_projects')}}" class="nav-link ">Consulter les projets</a></li>
                {% elseif is_granted('ROLE_CLIENT')  %}
                <li><a href="{{path('app_project_index')}}" class="nav-link ">Mes projets</a></li>
                {% elseif is_granted('ROLE_ADMIN') %}
                <li><a href="{{path('admin')}}" class="nav-link ">Administration</a></li>
                {% endif %}
                <li><a href="{{path('app_home')}}#nosServices" class="nav-link ">Nos services</a></li>
                <li><a href="{{path('app_offres')}}" class="nav-link ">Je me lance ?</a></li>
                <li><a href="{{path('app_contact')}}" class="nav-link ">Contact</a></li>
            </ul>
            {% if app.user %}
            <div class="top_profil">
                <div class="pp me-1">
                    {% if app.user.googleId %}
                        <img src="{{app.user.avatar}}" referrerpolicy="no-referrer" alt="Photo de profil">
                    {% elseif app.user.avatar %}
                        <img src="{{asset("assets/uploads/avatar/" ~  app.user.avatar)}}" alt="Photo de profil">
                    {% else %}
                        <img src="{{asset("assets/uploads/avatar/default.png")}}" alt="Photo de profil par défaut">
                    {% endif %}
                </div>
                <i class="fa-solid fa-sort-down"></i>
                <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="">
                    {% if is_granted('ROLE_EXPERT')  %}
                    <li><a class="dropdown-item" href="{{path('app_devis_user')}}">Mes Devis</a></li>
                    <li><a class="dropdown-item" href="{{path('app_expert')}}">Profil</a></li>
                    {% elseif is_granted('ROLE_CLIENT')  %}
                    <li><a class="dropdown-item" href="{{path('app_project_index')}}">Mes Projets</a></li>
                    <li><a class="dropdown-item" href="{{path('app_client')}}">Profil</a></li>
                    {% elseif is_granted('ROLE_ADMIN') %}
                    <li><a href="{{path('admin')}}" class="dropdown-item">Administration</a></li>
                    {% endif %}
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{{path('app_logout')}}">Déconnexion</a></li>
                </ul>
            </div>
            {% else %}
            <div class="div_button">
                <a href="{{path('app_login')}}" class="button">Connexion</a>
                <a href="{{path('app_register')}}" class="button">S'inscrire</a>
            </div>
            {% endif %}
        </div>
    </div>
    
</header>