<form>
    <div class="mb-3">
        <label for="Pn" class="form-label">Nom du projet :</label>
        <input type="text" name="Pn" value="{{project.NomDuProjet}}" class="form-control" disabled="disabled" aria-describedby="">
    </div>
    <div class="mb-3">
        <label for="Ac" class="form-label">Activité :</label>
        <input type="text" name="Ac" value="{{project.activity}}" class="form-control" disabled="disabled" aria-describedby="">
    </div>
    <div class="mb-3">
        <label for="Bd" class="form-label">Budget :</label>
        <input type="text" name="Bd" value="{{project.budget}}" class="form-control" disabled="disabled" aria-describedby="">
    </div>
    <div class="mb-3">
        <label for="Db" class="form-label">Délai de réalisation (date butoir) :</label>
        <input type="text" name="Db" value="{{project.startDate|date("d/m/Y")}}" class="form-control" disabled="disabled" aria-describedby="">
    </div>
    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label for="dm" class="form-label">Durée de la mission :</label>
                <input type="text" name="dm" value="{{project.missionDuration}}" class="form-control" disabled="disabled" aria-describedby="">
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label for="pb" class="form-label">Combien de publication par jour, semaine, ou mois :</label>
                <input type="text" name="pb" value="{{project.publication}}" class="form-control" disabled="disabled" aria-describedby="">
            </div>
        </div>
    </div>
    <div class="mb-3">
        <label for="si" class="form-label">Site internet :</label>
        {# <input type="text" name="si" value="{{project.website}}" class="form-control" disabled="disabled" aria-describedby=""> #}
        <textarea type="text" name="si" class="form-control" disabled="disabled" aria-describedby="">{{project.website}}</textarea>
    </div>
    <div class="mb-3">
        <label for="dl" class="form-label">Dates et lieux (si événement, …) :</label>
        {# <input type="text" name="dl" value="{{project.location}}" class="form-control" disabled="disabled" aria-describedby=""> #}
        <textarea type="text" name="dl" class="form-control" disabled="disabled" aria-describedby="">{{project.location}}</textarea>
    </div>

    <h4 class="form-label">Logo (à insérer) :</h4>
    <div class="img-list d-flex flex-wrap mb-3 justify-content-evenly">
            {% for image1 in images1 %}
                <img src="{{asset('assets/uploads/project_img/' ~ image1.name)}}" class="project-img" alt="Image projet">
            {% endfor %}
    </div>
    <h3>Liens vers vos réseaux actuels</h3>
    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label for="sp" class="form-label-misc">Snapchat :</label>
                {# <input type="text" name="sp" value="{{project.snapchat}}" class="form-control" disabled="disabled" aria-describedby=""> #}
                <textarea type="text" name="dl" class="form-control" disabled="disabled" aria-describedby="">{{project.snapchat}}</textarea>

            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label for="tt" class="form-label-misc">TikTok :</label>
                {# <input type="text" name="tt" value="{{project.tiktok}}" class="form-control" disabled="disabled" aria-describedby=""> #}
                <textarea type="text" name="dl" class="form-control" disabled="disabled" aria-describedby="">{{project.tiktok}}</textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label for="in" class="form-label-misc">Instagram :</label>
                {# <input type="text" name="in" value="{{project.instagram}}" class="form-control" disabled="disabled" aria-describedby=""> #}
                <textarea type="text" name="dl" class="form-control" disabled="disabled" aria-describedby="">{{project.instagram}}</textarea>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label for="fb" class="form-label-misc">Facebook :</label>
                {# <input type="text" name="fb" value="{{project.facebook}}" class="form-control" disabled="disabled" aria-describedby=""> #}
                <textarea type="text" name="dl" class="form-control" disabled="disabled" aria-describedby="">{{project.facebook}}</textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label for="li" class="form-label-misc">LinkedIn :</label>
                {# <input type="text" name="li" value="{{project.linkedin}}" class="form-control" disabled="disabled" aria-describedby=""> #}
                <textarea type="text" name="dl" class="form-control" disabled="disabled" aria-describedby="">{{project.linkedin}}</textarea>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label for="tw" class="form-label-misc">Twitter :</label>
                {# <input type="text" name="tw" value="{{project.twitter}}" class="form-control" disabled="disabled" aria-describedby=""> #}
                <textarea type="text" name="dl" class="form-control" disabled="disabled" aria-describedby="">{{project.twitter}}</textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label for="pt" class="form-label-misc">Pinterest :</label>
                {# <input type="text" name="pt" value="{{project.pinterest}}" class="form-control" disabled="disabled" aria-describedby=""> #}
                <textarea type="text" name="dl" class="form-control" disabled="disabled" aria-describedby="">{{project.pinterest}}</textarea>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label for="at" class="form-label-misc">Autres :</label>
                {# <input type="text" name="at" value="{{project.otherMedia}}" class="form-control" disabled="disabled" aria-describedby=""> #}
                <textarea type="text" name="dl" class="form-control" disabled="disabled" aria-describedby="">{{project.otherMedia}}</textarea>
            </div>
        </div>
    </div>
    <div class="mb-3">
        <label for="cm" class="form-label">Parmi ceux-ci quelles sont ceux sur lesquels vous souhaitez faire appel à un Community Manager ?</label>
        {# <input type="text" name="cm" value="{{project.communityManager}}" class="form-control" disabled="disabled" aria-describedby=""> #}
        <textarea type="text" name="dl" class="form-control" disabled="disabled" aria-describedby="">{{project.communityManager}}</textarea>
    </div>
    <h3>Impact de votre communication :</h3>
    <div class="mb-3">
        <label for="imp" class="form-label-misc">Ce que vous souhaitez transmettre comme informations au public via votre communication (tarif produits, etc) ? Quel est l’objectif poursuivit ? :</label>
        <textarea type="text" name="imp" class="form-control" disabled="disabled" aria-describedby="">{{project.impact}}</textarea>
    </div>
    <div class="mb-3">
        <label for="cc" class="form-label">Couleurs souhaitées sur votre communication (en général en lien avec le logo) ? et pourquoi celles-ci :</label>
        {# <input type="text" name="cc" value="{{project.desiredColors}}" class="form-control" disabled="disabled" aria-describedby=""> #}
        <textarea type="text" name="dl" class="form-control" disabled="disabled" aria-describedby="">{{project.desiredColors}}</textarea>
    </div>
    <h3>Exemples de pages appréciés</h3>
    <div class="mb-3">
        <label for="ep" class="form-label-misc">Montrer des exemples de pages que vous avez consulté que vous aimez (Et pourquoi ? dans la mise en page, les couleurs, les visuels, etc)</label>
        <input type="text" name="ep" value="{{project.likedExample}}" class="form-control" disabled="disabled" aria-describedby="">
    </div>

    <div class="img-list2 d-flex flex-wrap mb-3 justify-content-evenly">
            {% for image2 in images2 %}
                <img src="{{asset('assets/uploads/project_img/' ~ image2.name)}}" class="project-img2" alt="Image projet">
            {% endfor %}
    </div>
</form>