{% extends 'base.html.twig' %}

{% block body %}
{% for devis in devis %}
{% if devis.date_redaction %}
{{ devis.id }}
{{ devis.reference }}
<a  href="{{path('devis_pdf_admin',{id: devis.id})}}">Générer un pdf</a><br>
{% else %}
{{ devis.id }}
{{ devis.reference }}
<a  href="{{path('devis_upload',{id: devis.id})}}">Voir le devis uploadé</a><br>
{% endif %}
{% endfor %}
{% endblock %}