{% extends 'base.html.twig' %}

{% block title %}Mes Devis{% endblock %}

{% block body %}
<div class="list">
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
            <th scope="col" >Numéro de devis</th>
            <th scope="col">Nom du projet</th>
            <th scope="col" >Date de publication</th>
            </tr>
        </thead>
        <tbody>
            {% for devis in devis %}
                    {% if devis.date_redaction %}
                        <tr>
                            <td>{{ devis.id }}</td>
                            <td>{{ devis.reference }}</td>
                            <td>
                                <a href="{{path('devis_pdf_admin',{id: devis.id})}}">Générer un pdf</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>{{ devis.id }}</td>
                            <td>{{ devis.reference }}</td>
                            <td>
                                <a href="{{path('devis_upload',{id: devis.id})}}">Voir le devis uploadé</a>
                            </td>
                        </tr>
                    {% endif %}
            {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(devis) }}
    </div>

</div>
{% endblock %}