{% extends 'base.html.twig' %}

{% block title %}Mon compte
{% endblock %}

{% block body %}
	<main class="mt-4 p-lg-5 w-100 container-md home_container">
		<div class="d-flex flex-column gap-3 justify-content-around profil_card">
            <h1>Mon profil</h1>
            <aside class="profil_picture edit p-2">
				<h3>Avatar</h3>
                <div class="d-flex align-items-center">
					<img class="img-fluid" ({% if app.user.avatar %} 
											src="{{asset("assets/uploads/avatar/" ~  app.user.avatar)}}" 
											{% else %} src="{{asset("assets/uploads/avatar/default.png")}}") 
											{% endif %}  alt="Photo de profil">	
					{{ form_row(EditClient.avatar) }}
				</div>
            </aside>
			<div class=" w-100 p-2 p-lg-4">

				{# {% for message in app.flashes('success') %}
					<div class="alert alert-success mb-2">
						{{ message }}
					</div>
				{% endfor %} #}
            {{ form_start(EditClient) }}
				<h4>Informations personnelles</h4>
				<table class="table">
					<tbody>
						<tr>
                            <th>Prénom</th>
                            <td>{{ form_row(EditClient.firstname) }}</td>
						</tr>
						<tr>
							<th>Nom</th>
							<td>{{ form_row(EditClient.lastname) }}</td>
						</tr>
						<tr>
							<th>Email</th>
							<td>{{ form_row(EditClient.email) }}</td>
						</tr>
						<tr>
							<th>Téléphone</th>
							<td>{{ form_row(EditClient.phone) }}</td>
						</tr>
					</tbody>

				</table>
				<h4>Informations Société</h4>
				<table class="table">
					<tbody>
						<tr>
							<th>Nom</th>
							<td>{{ form_row(EditClient.companyName) }}</td>
						</tr>
						<tr>
							<th>Nom commercial</th>
							<td>{{ form_row(EditClient.companyCommercialName) }}</td>
						</tr>
						<tr>
							<th>N° de siret</th>
							<td>{{ form_row(EditClient.siret) }}</td>
						</tr>
					</tbody>
				</table>
			</div>
            <div class="d-flex align-items-center justify-between">
                <button type="submit">Valider</button>
                {{ form_end(EditClient) }}
            </div>
		</div>
	</main>
{% endblock %}