{% extends 'base_admin.html.twig' %}

{% block title %}Utilisateurs {{roleTitle}}
{% endblock %}

{% block body %}

<main class="p-5 w-100">
	<h1 class="mb-4">Utilisateurs {{roleTitle}}</h1>

	<table class="table text-white">
		<thead>
			<tr>
				<th>Avatar</th>
				<th>Nom</th>
				<th>Prénom</th>
				<th>E-mail</th>
				<th>Téléphone</th>
				{% if roleTitle == "Expert" %}
					<th>RIB</th>
					<th>CV</th>
				{% endif %}
				<th>Situation</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		{% for user in users %}

				<tr>
                    <td>
                        <div class="pp">
                            {% if user.googleId %}
                            <img src="{{user.avatar}}" referrerpolicy="no-referrer" alt="Photo de profil">
                            {% elseif user.avatar %}
                            <img src="{{asset('assets/uploads/avatar/' ~ user.avatar)}}" alt="Photo de profil">
                            {% else %}
                            <img src="{{asset("assets/uploads/avatar/default.png")}}" alt="Photo de profil par défaut">
                            {% endif %}
                        </div>
                    </td>
					<td>{{ user.firstname }}</td>
					<td>{{ user.lastname }}</td>
					<td>{{ user.email }}</td>
					<td>{{ user.phone }}</td>
					{% if roleTitle == "Expert" %}
						<td><a href="{{path('rib_upload',{id: user.id})}}">Voir le rib </a></td>
						<td><a href="{{path('cv_upload',{id: user.id})}}">Voir le cv</a></td>
					{% endif %}
					<td>
						{% if user.isCompany %}
							Professionnel
						{% else %}
							Particulier
						{% endif %}
					</td>
					<td>
						<div class="dropdown">
							<button class="btn" type="button" id="dropdownMenuButton{{user.id}}" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="fa-solid fa-ellipsis"></i>
							</button>
							<div class="dropdown-menu  dropdown-menu-end" aria-labelledby="dropdownMenuButton{{user.id}}">

								<a class="dropdown-item" href="{{path('app_admin_show', {'id': user.id})}}">Voir l'utilisateur</a>
								<a class="dropdown-item text-warning" href="{{path('admin_user_delete', {'id': user.id})}}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur ?')">Supprimer</a>
							</div>
						</div>
					</td>
				</tr>
			</div>
		</tbody>
	</td>
    {% else %}
	<tr>
		<td colspan="7">Aucun utilisateur trouvé</td>
	</tr>
    {% endfor %}
    </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(users) }}
    </div>
</main>
{% endblock %}