{% extends 'base.html.twig' %}

{% block title %}Profil Utilisateur
{% endblock %}

{% block body %}
	<main class="mt-4 p-lg-5 w-100 container-md home_container">
		<div class="d-flex flex-column gap-3 justify-content-around profil_card">
            <h1>Mon profil</h1>
            <aside class="profil_picture">
                <div class="d-flex justify-content-center">
                    <img class="img-fluid" 	{% if user.googleId %}
											src="{{user.avatar}}" referrerpolicy="no-referrer"
											({% elseif user.avatar %} 
											src="{{asset("assets/uploads/avatar/" ~  user.avatar)}}" 
											{% else %} src="{{asset("assets/uploads/avatar/default.png")}}") 
											{% endif %}  alt="Photo de profil">
                </div>
            </aside>
			<div class=" w-100 p-2 p-lg-4">

				{# {% for message in flashes('success') %}
					<div class="alert alert-success mb-2">
						{{ message }}
					</div>
				{% endfor %} #}
				<h4>Informations personnelles</h4>
				<table class="table">
					<tbody>
						<tr>
							<th>Prénom</th>
							<td>{{user.firstname}}</td>
						</tr>
						<tr>
							<th>Nom</th>
							<td>{{user.lastname}}</td>
						</tr>
						<tr>
							<th>Email</th>
							<td>{{user.email}}</td>
						</tr>
						<tr>
							<th>Téléphone</th>
							<td>{{user.phone ? user.phone : 'Non défini'}}</td>
						</tr>
					</tbody>

				</table>
				<h4>Adresse</h4>
				<table class="table">
					<tbody>
						<tr>
							<th>Adresse</th>
							<td>{{user.address ? user.address.address : 'Non défini'}}</td>
						</tr>
						<tr>
							<th>Adresse ligne 2</th>
							<td>{{user.address ? user.address.address2 : 'Non défini'}}</td>
						</tr>
						<tr>
							<th>Ville</th>
							<td>{{user.address ? user.address.city : 'Non défini'}}</td>
						</tr>
						<tr>
							<th>Code postal</th>
							<td>{{user.address ? user.address.codePostal : 'Non défini'}}</td>
						</tr>
						<tr>
							<th>Pays</th>
							<td>{{user.address ? user.address.country : 'Non défini'}}</td>
						</tr>
					</tbody>
				</table>

				</table>
				<h4>Informations Société</h4>
				<table class="table">
					<tbody>
						<tr>
							<th>Nom</th>
							<td>{{user.companyName ? user.companyName : 'Non défini'}}</td>
						</tr>
						<tr>
							<th>Nom commercial</th>
							<td>{{user.companyCommercialName ? user.companyCommercialName : 'Non défini'}}</td>
						</tr>
						<tr>
							<th>Fonction dans l'entreprise</th>
							<td>{{ user.jobInCompany ? user.jobInCompany : 'Non défini'}}</td>
						</tr>
						<tr>
							<th>N° de siret</th>
							<td>{{user.siret ? user.siret : 'Non défini'}}</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</main>
{% endblock %}