<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<p>Bonjour {{ user.firstName }},</p>
        <p>Après étude des devis soumis par nos experts, nous vous proposons la réalisation de votre projet "{{projectName}}" pour un montant de {{price}} €</p>
        <br>
        <p>
			Afin de commencer la réalisation de votre projet, veuillez procéder au paiement via ce lien : <br>
			<a href="{{ url|raw }}">{{ url|raw }}</a>
		</p>

        <p>Nous vous souhaitons une excellente journée,</p>
		<p>Cordialement.</p>
	</body>
</html>