{{ form_start(form) }}
    {{ form_row(form.brand_name) }}
    {{ form_row(form.activity) }}
    {{ form_row(form.budget) }}
    {{ form_row(form.start_date) }}
    <div class="row">
        <div class="col">
            {{ form_row(form.mission_duration) }}
        </div>
        <div class="col">
            {{ form_row(form.publication) }}
        </div>
    </div>
    {{ form_row(form.website) }}
    {{ form_row(form.location) }}
    {{ form_row(form.logo) }}
    <template id="template_project">
        <div class="template_card mt-1 w-25">
            <a href="">
                <div class="div_img_prjt">
                    <img src="#" class="project-img w-100 h-100" alt="Image projet">
                    <div>
                        <i class="fa-solid fa-x"></i>
                    </div>
                </div>
            </a>
        </div>
    </template>
    <div class="img-list d-flex flex-wrap mb-3">

    </div>
    <h3>Liens vers vos réseaux actuels</h3>
    <div class="row">
        <div class="col">
            {{ form_row(form.snapchat) }}
        </div>
        <div class="col">
            {{ form_row(form.tiktok) }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form_row(form.instagram) }}
        </div>
        <div class="col">
            {{ form_row(form.facebook) }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form_row(form.linkedin) }}
        </div>
        <div class="col">
            {{ form_row(form.twitter) }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form_row(form.pinterest) }}
        </div>
        <div class="col">
            {{ form_row(form.other_media) }}
        </div>
    </div>
    {{ form_row(form.community_manager) }}
    <h3>Impact de votre communication :</h3>
    {{ form_row(form.impact) }}
    {{ form_row(form.desired_colors) }}
    <h3>Exemples de pages appréciés</h3>
    {{ form_row(form.liked_example) }}
    {{ form_row(form.example) }}
    <template id="template_project2">
        <div class="template_card mt-1 w-25">
            <a href="">
                <div class="div_img_prjt">
                    <img src="#" class="project-img2 w-100 h-100" alt="Image projet">
                    <div>
                        <i class="fa-solid fa-x"></i>
                    </div>
                </div>
            </a>
        </div>
    </template>
    <div class="img-list2 d-flex flex-wrap mb-3">

    </div>
    <button class="btn">{{ button_label|default('Valider') }}</button>
{{ form_end(form) }}