
{% extends 'base.html.twig' %}

{% block title %}Mes projets
{% endblock %}

{% block body %}
	<h1 class="h1_projets">Mes projets<img id="img_mes_projets" src="{{asset('assets/img/offre1.svg')}}"></h1>
	<section>
	{% if projects %}
		{% for project in projects %}
			<div class="list">
				<table class="table table-striped">
					<thead class="table-primary">
						<tr>
						<th scope="col">Nom du projet</th>
						<th scope="col" >Type</th>
						<th scope="col" >Date de publication</th>
						<th scope="col" >Validation</th>
						</tr>
					</thead>
					<tbody>
						{% for project in projects %}
							<tr>
							<td>{{project.nom_du_projet}}</td>
							<td>{{project.type}}</td>
							<td>{{project.created_at|date("d/m/Y")}}</td>
							<td>
								{% if project.statut %}
									Validé
								{% else %}
									En cours
								{% endif %}
							</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>

				<div class="navigation">
					{{ knp_pagination_render(projects) }}
				</div>

			</div>
		{% endfor %}
	{% else %}
		<p colspan="6">aucun projet déposé</p>
	{% endif %}
	</section>

	<div id="addButton">
        <a type="button" href="{{ path('app_project_new') }}" class="btn">Créer un nouveau projet</a>
    </div>
	{# <a href="{{ path('app_project_new') }}">Create new</a> #}


{% endblock %}
