{% extends 'base.html.twig' %}

{% block title %}Liste Projet{% endblock %}

{% block body %}
<div class="list">
    <table class="table table-striped">
        <thead class="table-primary">
            <tr>
            <th scope="col">Nom du projet</th>
            <th scope="col" >Type</th>
            <th scope="col" >Action</th>
            <th scope="col" >Date de publication</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
                <tr>
                <td>{{project.nom_du_projet}}</td>
                <td>{{project.type}}</td>
                <td>
                    <a class="button" href="{{path('test')}}">Consulter</a>
                </td>
                <td>{{project.created_at|date("d/m/Y")}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(projects) }}
    </div>

</div>
{% endblock %}